.desktop-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.desktop-menu li {
    list-style-type: none;
    margin: 0 2rem;
    opacity: 0;
    animation: 2s appear forwards;
}

.desktop-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #66584A;
}

.social-media  {
    display: flex;
    align-items: center;
}

.social-media a {
    margin: 0 0.5rem;
    color: #66584A;
}