.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.about-page p {
    font-size: 1rem;
    margin-bottom: 4rem;
    text-align: justify;
}

@media only screen and (max-width: 30rem) {
    .about-page p {
        font-size: .8rem;
        margin-bottom: 3rem;
    }
}

.about-title {
    color: #66584A;
    font-weight: inherit;
}

.about-imgs {
    display: flex;
    flex-flow: row wrap;
}

.about-img-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media only screen and (min-width: 30rem) {
    .about-img-col {
        flex-basis: 0;
        margin: 2px;
    }
}

.about-img-col img {
    margin: 2px;
    flex-grow: 1;
    object-fit: cover;
    width: 100%;
}