.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 30vh;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.nav-bar li {
    list-style-type: none;
    margin: 0 2em;
}

.nav-bar a {
    text-decoration: none;
    font-size: 1.2em;
    color: #66584A;
}

.social-media  {
    display: flex;
    align-items: center;
}

.social-media a {
    margin: 0 0.5em;
    color: #66584A;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

.menu-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.9;
    display: none;
    /* display: flex; */
    align-items: center;
    width: 100%;
    color: #66584A;
}

.menu-item-container {
    opacity: 0;
    animation: 1s appear forwards;
    margin: 2em;
    text-align: center;
}

.menu-item-container a {
    font-size: 1.2rem;
    cursor: pointer;
    color: #66584A;
    transition: color 0.2s ease-in-out;
    animation: 0.5s slideIn forwards;
    text-decoration: none;
}

.menu-button-container {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1em;
}

.menu-button-container div {
    height: 3px;
    width: 23px;
    background: #66584A;
    transition: all 0.5s ease;
}


.footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 7em auto 3em auto;
    width: fit-content;
    font-size: 0.7em;
}

.footer li {
    list-style-type: none;
    margin: 0 2em;
}

.footer a {
    text-decoration: none;
    font-size: 1.2em;
    color: #66584A;
}

@media only screen and (max-width: 56.6em) {
    .nav-bar {
        display: none;
    }
    .menu-button {
        display: flex;
    }
}