@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes slideIn {
    0% {
      transform: translateX(-2%);
    }
    100% {
      transform: translateX(0);
    }
}

.desktop-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.desktop-menu li {
    list-style-type: none;
    opacity: 0;
    animation: 2s appear forwards;
}

.desktop-menu a {
    text-decoration: none;
    font-size: var(--mediumFontSize);
    color: var(--mediumGray);
}

.social-media  {
    display: flex;
    align-items: center;
}

.social-media a {
    margin: 0 0.5rem;
    color: var(--mediumGray);
}

.social-media a:hover, .desktop-menu a:hover {
    color: var(--darkGray);
}

.mobile-button-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    position: fixed;
    top: 2.5rem;
    left: 2rem;
    z-index: 99;
    color: var(--mediumGray);
}

.mobile-button-lines div {
    height: 2px;
    width: 28px;
    background: var(--mediumGray);
    transition: all 0.5s ease;
}

.mobile-button-lines div:nth-child(1) {
    transform-origin: top left;
    margin-bottom: 8px;
}

.mobile-button-lines div:nth-child(3) {
    transform-origin: top left;
    margin-top: 8px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: white;
    opacity: 0.95;
    transition: height 0.3s ease;
    z-index: 2;
}

.mobile-menu > div:nth-child(1) {
    margin-top: 6rem;
}

.mobile-menu > div {
    opacity: 0;
    animation: 1s appear forwards;
    margin: 1rem;
    text-align: center;
}

.mobile-menu > div > div, .mobile-menu a {
    font-size: var(--mediumFontSize);
    cursor: pointer;
    color: var(--mediumGray);
    transition: color 0.2s ease-in-out;
    animation: 0.5s slideIn forwards;
    text-decoration: none;
}