.arrow {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    bottom: 1.5rem;
    outline: none;
}

.arrow div {
    border: solid var(--mediumGray);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
}

.arrow div:hover {
    border-color: var(--darkGray);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 70vh;
}

.home-img {
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;
}