.therapy-img {
    width: 100%;
}

.therapy-info-name {
    color: var(--darkGray);
    font-size: var(--mediumFontSize);
}

.therapy-info-price {
    color: var(--mediumGray);
    font-size: var(--smallFontSize);
}