.toni-manning {
    max-width: 56rem;
    margin: auto;
    padding: 0 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 30vh;
    z-index: 2;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 7rem auto 3rem auto;
    width: fit-content;
}

.footer li {
    list-style-type: none;
    margin: 0 2rem;
}

.footer a {
    text-decoration: none;
    font-size: var(--smallFontSize);
    color: var(--mediumGray);
}

.footer a:hover {
    color: var(--darkGray);
}

@media only screen and (max-width: 30rem) {
    .footer li {
        margin: 0 1rem;
    }
    .footer a {
        font-size: var(--xSmallFontSize);
    }
    .footer {
        margin-top: 4rem
    }
}

.active {
    color: var(--darkGray) !important;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}