@font-face {
  font-family: 'Open Sans';
  src: url('static/Fonts/OpenSans-Light.woff') format('woff2');
}

:root {
  --darkGray: #706d6d;
  --mediumGray: #aaa29c;
  --lightGray: #b2ada8;
  --largeFontSize: 1.5rem;
  --mediumFontSize: 1.2rem;
  --smallFontSize: 1rem;
  --xSmallFontSize: 0.8rem;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative
}

html, body {
    overflow-x: hidden;
}
